body {
	margin: 0;
	padding: 0;
	font-family: "PT Sans", "Arial", san-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	color: #333333;
	text-transform: uppercase;

	background-color: #ffffff;
}

.container {
	position: relative;
	margin: 0 auto;
	min-width: 768px;
	max-width: 1200px;
	-webkit-box-shadow: 0 0 40px 2px #dbdbdb;
	        box-shadow: 0 0 40px 2px #dbdbdb;
}

a {
	text-decoration: none;
}

.main-header {
	position: relative;
}

.main-navigation {
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	background-color: #ffffff;
}

.main-navigation-logo {
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 0;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	line-height: 0;
	z-index: 10;
}

.main-navigation {
	padding-right: 6%;
	padding-left: 6%;
}

.items-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}

.items-navigation li {
	width: 20%;
	padding-top: 16px;
	padding-bottom: 18px;
}

.items-navigation li:nth-child(1),
.items-navigation li:nth-child(2) {
	text-align: left;
}

.items-navigation li:nth-child(2) {
	margin-left: 29px;
}

.items-navigation li:nth-child(3) {
	margin-left: auto;
	margin-right: 33px;
}
.items-navigation li:nth-child(3),
.items-navigation li:nth-child(4) {
	text-align: right;
}

.items-navigation a {
	color: #000000;
}

.items-navigation a:hover {
	color: #81b3d2;
}

.items-navigation a:active {
	color: #6a6a6a;
}

.items-navigation a.active {
	color: #766357;
}

.banner {
	background-image: url("../img/banner-mask.png"), url("../img/background-sedona.jpg");
	background-position: 0 bottom, 0 0;
	background-repeat: no-repeat, no-repeat;
	background-size: 100%, cover;
	background-color: #b5c4d9;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom: 43px;
	padding-top: 40px;
	padding-bottom: 80px;
}

.banner-text {
	size: 100%;
	padding-top: 31px;
}

.reasons {}

.reason-title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 100%;
	margin-bottom: 28px;
}

.reason-title h2 {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-align: center;
}

.reason-title p {
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	color: #333333;
}

.reason-main {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.reason-main-info {
	text-align: center;
	background-color: #81b3d2;
	width: 33%;
	padding-top:33px;
	padding-bottom: 51px;
	padding-right: 5px;
	padding-left: 5px;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.reason-main-info h3{
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	color: #ffffff;
	text-align: center;
	width: 100%;
	padding-left: 121px;
	padding-right: 121px;
	margin-bottom: 9px;
}

.reason-main-info p {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #ffffff;
	text-align: center;
	width: 100%;
	padding-left: 9%;
	padding-right: 9%;
	margin-bottom: 8px;
}

.reason-main-picture {
	width: 67%;
	margin: 0;
}

.reason-main-picture.picture-sedona {
	background-image: url("../img/sedona-city-2.jpg");
	background-size: cover;
	background-color: #a08c83;
}

.reason-main-picture.picture-pont {
	background-image: url("../img/devil-bridge.jpg");
	background-size: cover;
	background-color: #a08c83;
}

.reason-more {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.reason-more-housing,
.reason-more-eat,
.reason-more-souvenirs {
	position: relative;
	text-align: center;
	background-color: #ffffff;
	width: 33%;
	padding-left: 4%;
	padding-right: 4%;
	padding-top: 141px;
	padding-bottom: 50px;
	margin-bottom: 19px;
}

.reason-more-housing h3,
.reason-more-eat h3,
.reason-more-souvenirs h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	color: #000000;
}

.reason-more-housing::before {
	content: "";
	display: inline-block;
	position: absolute;
	vertical-align: middle;
	top: 62px;
	left: 50%;
	-webkit-transform:translateX(-37px);
	    -ms-transform:translateX(-37px);
	        transform:translateX(-37px);
	background-image: url("../img/icon-housing.svg"); 
	width: 75px;
	height: 72px;
	background-color: white;
}

.reason-more-eat::before {
	content: "";
	position: absolute;
	display: inline-block;
	vertical-align: middle;
	top: 62px;
	left: 50%;
	-webkit-transform:translateX(-37px);
	    -ms-transform:translateX(-37px);
	        transform:translateX(-37px);
	background-image: url("../img/icon-eat.svg"); 
	width: 74px;
	height: 70px;
	background-color: white;
}

.reason-more-souvenirs::before {
	content: "";
	display: inline-block;
	position: absolute;
	vertical-align: middle;
	top: 62px;
	left: 50%;
	-webkit-transform:translateX(-32px);
	    -ms-transform:translateX(-32px);
	        transform:translateX(-32px);
	background-image: url("../img/icon-souvenirs.svg"); 
	width: 64px;
	height: 76px;
	background-color: white;
}

.reason-more-housing p,
.reason-more-eat p,
.reason-more-souvenirs p {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
}

.reason {
	position: relative;
	z-index: 20;
	width: 100%;
	background-color: #eeeeee;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-top: 22px;
	padding-bottom: 55px;
}

.reason-info {
	text-align: center;
	width: 33%;
	padding-left: 5%;
	padding-right: 5%;
}

.reason-info h3 {
	display: inline-block;
	vertical-align: middle;
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	color: #000000;
	padding-left: 60px;
	padding-right: 60px;
	margin-bottom: 10px;
}

.reason-info p {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
	margin-bottom: 7px;
	padding-left: 
}

.feedback {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	background-color: white;
	z-index: 0;
}

.search-intro {
	position: relative;
	text-align: center;
	background-color: #ffffff;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	z-index: 50;
}

.search-title {
	position: relative;
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	text-align: center;
	color: #000000;
	width: 100%;
	padding-left: 35%;
	padding-right: 35%;
	margin-top: 49px;
	background-color: white;
}

.search-text {
	position: relative;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	text-align: center;
	color: #333333;
	width: 100%;
	padding-left: 30%;
	padding-right: 30%;
	margin-bottom: 50px;
	margin-top: -2px;
	background-color: white;
}

.popup-search-button {
	display: inline-block;
	position: relative;
	font: inherit;
	text-align: center;
	padding: 30px 139px;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	border: none;
	vertical-align: middle;
	background-color: #766357;
	margin-bottom: 0px;
	outline: none;
}

.psevdo-button {
	position: absolute;
	display: inline-block;
	height: 86px;
	width: 568px;
	margin: 0;
	padding: 0;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	background-color: black;
	visibility: hidden;
	z-index: 0;
}

.popup-search-button:hover {
	font: inherit;
	text-align: center;
	padding: 30px 139px;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	border: none;
	vertical-align: middle;
	background-color: #604e43;
}

.popup-search-button:active {
	font: inherit;
	text-align: center;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: rgba(255, 255, 255, 0.3);
	text-transform: uppercase;
	border: none;
	vertical-align: middle;
	background-color: #503e33;
}

.search-form-mini {
	position: absolute;
	top: -25px;
	left: 0;
	width: 454px;
	background-color: #ffffff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 57px;
	padding-top: 65px;
	visibility: visible;
}

.form-none {
	display: none;
}


.form-delete {
	display: block;
	-webkit-animation-name: delete;
	        animation-name: delete;
	-webkit-animation-duration: 3s;
	        animation-duration: 3s;
	-webkit-animation-fill-mode: forwards;
	        animation-fill-mode: forwards;
}

.form-call {
	display: block;
	-webkit-animation-name: call;
	        animation-name: call;
	-webkit-animation-duration: 3s;
	        animation-duration: 3s;
	-webkit-animation-fill-mode: forwards;
	        animation-fill-mode: forwards;
}

.form-error {
	-webkit-animation-name: shake;
	        animation-name: shake;
	-webkit-animation-duration: 2s;
	        animation-duration: 2s;
}

@-webkit-keyframes shake {
	0%, 100% { -webkit-transform: translateY(0); transform: translateY(0);
	}
	10%, 30%, 50%, 70%, 90% { -webkit-transform: translateY(-5px); transform: translateY(-5px);
	}
	20%, 40%, 60%, 80% { -webkit-transform: translateY(5px); transform: translateY(5px);
	}
}

@keyframes shake {
	0%, 100% { -webkit-transform: translateY(0); transform: translateY(0);
	}
	10%, 30%, 50%, 70%, 90% { -webkit-transform: translateY(-5px); transform: translateY(-5px);
	}
	20%, 40%, 60%, 80% { -webkit-transform: translateY(5px); transform: translateY(5px);
	}
}

@-webkit-keyframes delete {
	0% {-webkit-transform: translateY(0);transform: translateY(0);
	}
	50% {-webkit-transform: translateY(-250px);transform: translateY(-250px);
	}
	100% {-webkit-transform: translateY(-500px);transform: translateY(-500px);
	}
}

@keyframes delete {
	0% {-webkit-transform: translateY(0);transform: translateY(0);
	}
	50% {-webkit-transform: translateY(-250px);transform: translateY(-250px);
	}
	100% {-webkit-transform: translateY(-500px);transform: translateY(-500px);
	}
}

@-webkit-keyframes call {
	0% {-webkit-transform: translateY(-200px);transform: translateY(-200px);
	}
	100% {-webkit-transform: translateY(0);transform: translateY(0);
	}
}

@keyframes call {
	0% {-webkit-transform: translateY(-200px);transform: translateY(-200px);
	}
	100% {-webkit-transform: translateY(0);transform: translateY(0);
	}
}

.search-form-mini-block {
	display: none;
}

.form-mini {
	position: relative;
	width: 100%;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	background-color: #ffffff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.form-mini label {
	position: relative;
	padding: 5px;
	padding-left: 0;
}

.date-arrival,
.date-departure,
.number-person {
	font: inherit;
	text-align: left;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
	vertical-align: middle;
	margin-bottom: 30px;
	border: none;
	background-color: #f2f2f2;
}

.date-arrival,
.date-departure {
	position: relative;
	width: 293px;
	padding: 5px 40px 5px 13px;
	margin-left: auto;
}

.calendar {
	position: absolute;
	display: inline-block;
	vertical-align: middle;
	background-color: inherit;
	border: none;
	outline: none; 
	width: 21px;
	height: 22px;
	left: 417px;
	top: 6px;
	z-index: 2;
}

.calendar svg {
	fill: #a9a9a9;
}

.calendar svg:hover {
	fill: black;
}

.calendar svg:active {
	fill: #81b3d2;
}

label[class="grown"] {
	margin-right: 27px;
	margin-top: 3px;
}

label[class="children"] {
	margin-right: 22px;
	margin-left: auto;
	margin-top: 3px;
}

.number-person {
	width: 33px;
	height: 36px;
	padding-left: 5px;
}

button[class="minus"],
button[class="plus"] {
	display: inline-block;
	vertical-align: middle;
	border: none;
	outline: none;
	width: 38px;
	height: 38px;
	background-color: #f2f2f2;
	background-position: 50% 50%; 
}

button[class="minus"],
button[class="minus"] {
	background-image: url("../img/minus-norm.png");
	background-repeat: no-repeat; 
}

button[class="plus"],
button[class="plus"] {
	background-image: url("../img/plus-norm.png");
	background-repeat: no-repeat; 
}


button[class="minus"]:hover {
	background-image: url("../img/minus-hover.png");
	background-repeat: no-repeat; 
}

button[class="plus"]:hover {
	background-image: url("../img/plus-hover.png");
	background-repeat: no-repeat; 
}

button[class="minus"]:active {
	background-image: url("../img/minus-active.png");
	background-repeat: no-repeat;  
}

button[class="plus"]:active {
	background-image: url("../img/plus-active.png");
	background-repeat: no-repeat;  
}

.date-arrival:hover,
.date-departure:hover,
.number-person:hover {
	font: inherit;
	text-align: left;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
	vertical-align: middle;

	border: none;
	background-color: #ebebeb;
}

.date-arrival:focus,
.date-departure:focus {
	padding: 3px 38px 3px 11px;
	font: inherit;
	text-align: left;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
	vertical-align: middle;
	outline: none;
	border: 2px solid #e5e5e5;
	background-color: #ffffff;
}


.number-person:focus {
	font: inherit;
	height: 31px;
	width: 29px;
	padding-left: 5px;
	text-align: left;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
	vertical-align: middle;
	outline: none;
	border: 2px solid #e5e5e5;
	background-color: #ffffff;
}


.search-button {
	width: 458px;
	padding-top: 13px;
	padding-bottom: 13px;
	margin-top: 25px;
	font: inherit;
	text-align: center;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	border: none;
	vertical-align: middle;
	background-color: #81b3d2;
}

.search-button:hover {
	font: inherit;
	text-align: center;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	border: none;
	vertical-align: middle;
	background-color: #669ec0;
}

.search-button:active {
	font: inherit;
	text-align: center;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: rgba(255, 255, 255, 0.3);
	text-transform: uppercase;
	border: none;
	vertical-align: middle;

	background-color: #5496bd;
}

.map {
	width: 100%;
	position: relative;
}

.map p {
	width: 100%;
	height: 600px;
	margin: 0;
	padding: 0;
}

.map p iframe {
	position: relative;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 592px;
	border: 0;
	background-image: url("../img/map.png");
	background-size: cover;
	z-index: -3;
}

.main-footer {
	position: relative;
	z-index: 10;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding-top: 21px;
	padding-bottom: 21px;
}

.footer-map {
	margin-top: -134px;
	background-color: rgba(253, 253, 253, 0.8);
}

.hashtag {
	text-align: center;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	width: 33%;
}

.footer-social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 30%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-right: 30px;
}

.footer-social-list {
	width: 150px;
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.social-button{
	display: inline-block;
	vertical-align: middle;
	position: relative;
	width: 46px;
	height: 48px;
	background-color: #81b3d2;  
	margin-right: 5px;
}

.social-button:hover {
	background-color: #669ec0;
}

.social-button:active {
	background-color: #5496bd;
}

.social-tw::before{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
	background-image: url("../img/tw.svg");
	background-repeat: no-repeat;
	width: 17px;
	height: 15px;	
}

.social-tw:active::before,
.social-fb:active::before, 
.social-youtube:active::before {
	opacity: 0.3;	
}

.social-fb::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
	background-image: url("../img/fb.svg");
	background-repeat: no-repeat;
	width: 12px;
	height: 22px;
}

.social-youtube::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
	background-image: url("../img/youtube.svg");
	background-repeat: no-repeat;
	width: 20px;
	height: 16px;	
}


.footer-copyright {
	margin-right: 104px;
	width: 25%;
	text-align: center;
}

.footer-copyright a {
	display: inline-block;
	position: relative;
	vertical-align: middle;
}

.footer-copyright a svg {
	content: "";
	position: absolute;
	left: 0;
	top: -20px;
	display: inline-block;
	vertical-align: middle;
	width: 115px;
	height: 41px;
	fill: black;
}

.footer-copyright a svg:hover {
	fill: #81b3d2;
}

.footer-copyright a svg:active {
	fill: #bdbbbc;
}

.main-content {
	position: relative;
}

.search {
	padding-right: 6%;
	padding-left: 6%;
	background-image: url(../img/filter-background.jpg);
	background-color: #688fb6;
	background-repeat: no-repeat;
}

.search-form {
	color: #ffffff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-top: 25px;
	width: 100%;
}

.search-form fieldset {
	border: 0 none;
	margin: 0px;
	padding: 0px;
}

.search-infrastructure,
.type {
	width: 24%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.search-form fieldset.price {
	margin-left: auto;
}

.search-form legend {
	font-size: 16px;
	line-height: 21px;
	font-weight: 700;
	color: #ffffff;
}

.search-form label {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #ffffff;
}

.search-infrastructure legend,
.type legend {
	margin-bottom: 21px;
}

.price legend {
	margin-bottom: 10px;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + label {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 30px;
	padding-left: 35px;
	cursor: pointer;
}

label[class="search-label"]::before {
	content: "";
	position: absolute;
	left: 0px;
	top: 0px;
	display: inline-block;
	vertical-align: middle;
	width: 23px;
	height: 23px;
	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
	cursor: pointer;
}

input[type="checkbox"]:checked + label[class="search-label"]::before {
	background-image: url("../img/checkbox-on.svg");
	height: 27px;
	width: 25px;
}

input[type="checkbox"]:disabled + label[class="search-label"]::before {
	background-image: url("../img/checkbox-disabled.svg");
	height: 27px;
	width: 23px;
}

input[type="checkbox"]:checked:disabled + label[class="search-label"]::before {
	background-image: url("../img/checkbox-on-disabled.svg");
	height: 27px;
	width: 25px;
}

.search-form input {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #ffffff;
}

.price {
	width: 312px;
	color: #ffffff;
	text-transform: uppercase;
}

.price-controls {
	position: relative;
	height: 32px;
	margin-bottom: 20px;
	border: 2px solid #ffffff;
	border-radius: 2px;
	font-size: 0;
}

.price-controls::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	width: 2px;
	height: 22px;
	background: #ffffff;
}

.price-controls label {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	line-height: 21px;
	cursor: pointer;
}

.price-controls input {
	width: 50px;
	height: 20px;
	margin: 0;
	padding: 5px;
	color: inherit;
	font: inherit;
	background: none;
	border: none;
	vertical-align: middle;
	outline: none;
}

.price-controls .min-price,
.price-controls .max-price {
	width: 90px;
	padding-left: 37px;
	cursor: pointer;
}

.price .range-controls {
	position: relative;
	width: 319px;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 32px;
	font-size: 14px;
}

.range-controls .scale {
	height: 2px;
	background-color: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
	width: 80%;
	height: 2px;
	background-color: #ffffff;
}

.range-toggle {
	width: 4px;
	height: 4px;
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	-webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	        box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
	position: absolute;
	top: -9px;
}

.range-toggle:hover {
	-webkit-transform: scale(1.2);
	    -ms-transform: scale(1.2);
	        transform: scale(1.2);
}

.range-toggle-min {
	left: 0;
}

.range-toggle-max {
	left: 80%;
}

.search-result {
	display: block;
	margin: 0 auto;
	margin-top: -5px;
	padding: 6px 35px;
	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	text-transform: uppercase;
	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
}

.search-result:hover {
	color: #000000;
	background-color: #ffffff;
}

.sorting {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.sorting-hotels-nav {
	padding-left: 6%;
	padding-right: 6%;
	position: relative;
	background-color: #ffffff;
	width: 100%;
	padding-top: 3px;
	padding-bottom: 6px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	border-bottom: 1px solid #e5e5e5;
}

.search-output {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-align: left;
	color: #000000;
	width: 140px;
	margin-right: 23px;
}

.sorting-settings {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	color: #000000;
	width: 500px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}

.sorting-settings p {
	color: #000000;
}

.sorting-settings a {
	list-style: none;
	color: rgba(0, 0, 0, 0.3);
	border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
	margin-right: -4px;
}

.sorting-settings a:first-child {
	margin-left: 31px;
}

.sorting-settings a.active {
	list-style: none;
	color: #81b3d2;
}

.sorting-settings a:hover {
	list-style: none;
	color: #81b3d2;
	border-bottom: 1px dotted #81b3d2;
}

.sorting-settings a:active {
	list-style: none;
	color: #000000;
	border-bottom: 1px #000000;
}

.sorting-icons {
	width: 45px;
	margin-left: auto;
}

.sorting-icons a {
	position: relative;
}

.sort-up svg {
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	left: 11px;
}

.sort-down svg {
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	left: 34px;
}

.sort-up svg:hover path,
.sort-down svg:hover path {
	fill: #000000;
}

.sort-up svg:active path,
.sort-down svg:active path,
.sort-up svg.active path,
.sort-up svg.active path {
	fill: #81b3d2;
}

.hotels {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.hotel-card {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
	width: 100%;
	padding-right: 6%;
	padding-left: 6%;
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #e5e5e5;
}

.hotel-photo {
	margin: 0px;
	padding: 0px;
	margin-right: 30px;
	margin-bottom: -5px;
}

.hotel-description {
	width: 274px;
	margin: 0px;
	padding: 0px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.hotel-more {
	margin-bottom: 10px;
}

.hotel-status {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	margin-left: auto;
}


.stars {
	display: inline-block;
	vertical-align: middle;
	width: 18px;
	height: 17px;
	margin-right: 5px;
	background-image: url("../img/star.png");
	background-repeat: space;
}

.Amara-stars {
	width: 87px;
} 

.Desert-stars {
	width: 66px;
}

.Villas-stars {
	width: 44px;

}

.hotel-rating {
	background-color: #f2f2f2;
	width: 110px;
	text-align: center;
	vertical-align: middle;
	color: #666666;
	font: 14px;
	line-height: 21px;
	font-weight: 400;
	margin-top: 40px;
	padding: 0;
}

.hotel-rating-text {
	padding: 0;
	margin: 0;
}

.hotel-text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
	margin: 0px;
	padding: 0px;
	margin-bottom: 10px;
}

.hotel-text p {
	width: 110px;
	text-align: left;
	padding:0;
	margin:0;
	margin-right: 8px;
}

.hotel-name {
	margin: 0px;
	padding: 0px;
}

.hotel-name a {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-align: left;
}

.hotel-name a:hover {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #81b3d2;
	text-align: left;
}

.hotel-name a:active {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: rgba(0, 0, 0, 0.3);
	text-align: left;
}

.button-more {
	padding-right: 18px;
	padding-left: 18px;
	padding-top: 5px;
	padding-bottom: 5px;
	font: inherit;
	text-align: center;
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	border: none;
	vertical-align: middle;
	background-color: #81b3d2;
	cursor: pointer;
}

.button-more:hover {
	background-color: #669ec0
}

.button-more:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd
}

.button-book {
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 18px;
	padding-right: 18px;
	font: inherit;
	text-align: center;
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	border: none;
	vertical-align: middle;
	background-color: #766357;
	cursor: pointer;
	outline: none;
}

.button-book:hover {
	background-color: #604e43;
}

.button-book:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}



.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}



