body {
	margin: 0;
	padding: 0;
	font-family: "PT Sans", "Arial", san-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	color: #333333;
	text-transform: uppercase;

	background-color: #ffffff;
}

.container {
	margin: 0 auto;
	min-width: 768px;
	max-width: 1200px;
}

a {
	text-decoration: none;
}

.main-navigation {
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	background-color: #ffffff;
}

.items-navigation {
	list-style: none;
}

.items-navigation a {
	color: #000000;
}

.items-navigation a:hover {
	color: #81b3d2;
}

.items-navigation a:active {
	color: #000000;
}

.items-navigation a.active {
	color: #766357;
}

.main-navigation-logo {
}

.banner {
	background-image: url("../img/banner-mask.png"), url("../img/background.jpg");
	background-position: 0 bottom, 0 0;
	background-repeat: no-repeat, no-repeat;
	background-size: 100%, 100%;

	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 54px;
	padding-top: 40px;
	padding-bottom: 80px;
}

.banner-text {
	size: 100%;
}

.reasons {}

.reason-title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	width: 100%;
	margin-bottom: 54px;
}

.reason-title h2 {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-align: center;
}

.reason-title p {
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	color: #333333;
}

.reason-main {
	width: 100%;
	display: flex;
}

.reason-main-info {
	text-align: center;
	background-color: #81b3d2;
	width: 33%;
	padding-top:20px;
	padding-bottom: 30px;
	padding-right: 20px;
	padding-left: 20px;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.reason-main-info h3{
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	color: #ffffff;
	text-align: center;
	width: 100%;
	margin-left: 100px;
	margin-right: 100px;
}

.reason-main-info p {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #ffffff;
	text-align: center;
	width: 100%;
	padding-left: 5%;
	padding-right: 5%;
}

.reason-main-picture {
	width: 67%;
	margin: 0;
	margin-bottom: -6px;
}

.reason-more {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.reason-more-housing,
.reason-more-eat,
.reason-more-souvenirs {
	position: relative;
	text-align: center;
	background-color: #ffffff;
	width: 33%;
	padding-left: 6%;
	padding-right: 6%;
	margin-top: 167px;
	margin-bottom: 50px;
}

.reason-more-housing h3,
.reason-more-eat h3,
.reason-more-souvenirs h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	color: #000000;
}

.reason-more-housing h3::before {
	content: "";
	position: absolute;
	top: -87px;
	text-align: center;
	background-image: url("../img/icon-housing.svg"); 
	width: 75px;
	height: 72px;
	background-color: white;
}

.reason-more-eat h3::before {
	content: "";
	position: absolute;
	top: -87px;
	left: 50%;
	transform: translateX(-50%);
	background-image: url("../img/icon-eat.svg"); 
	width: 74px;
	height: 70px;
	background-color: white;
}

.reason-more-souvenirs h3::before {
	content: "";
	position: absolute;
	top: -87px;
	text-align: center;
	background-image: url("../img/icon-souvenirs.svg"); 
	width: 64px;
	height: 76px;
	background-color: white;
}

.reason-more-housing p,
.reason-more-eat p,
.reason-more-souvenirs p {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
}

.reason {
	width: 100%;
	background-color: #eeeeee;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 30px;
	padding-bottom: 30px;

}

.reason-info {
	text-align: center;
	
	width: 33%;
	padding-left: 6%;
	padding-right: 6%;
}

.reason-info h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	color: #000000;
}

.reason-info p {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
}

.feedback {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.search-intro {
	text-align: center;
	background-color: #ffffff;
	width: 100%;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.search-title {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	text-align: center;
	color: #000000;
	width: 100%;
	padding-left: 20%;
	padding-right: 20%;
	margin-top: 54px;
}

.search-text {
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	text-align: center;
	color: #333333;
	width: 100%;
	padding-left: 30%;
	padding-right: 30%;
	margin-bottom: 50px;
}

.popup-search-button {
	width: 568px;
	height: 86px;
	font: inherit;
	text-align: center;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	border: none;
	vertical-align: middle;
	background-color: #766357;

	margin-bottom: 0px;
}

.popup-search-button:hover {
	font: inherit;
	text-align: center;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	border: none;
	vertical-align: middle;

	background-color: #604e43
}

.popup-search-button:active {
	font: inherit;
	text-align: center;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: rgba(255, 255, 255, 0.3);
	text-transform: uppercase;
	border: none;
	vertical-align: middle;

	background-color: #503e33;
}

.search-form-mini {
	width: 454px;
	background-color: #ffffff;
	display: flex;
	padding: 57px;
	padding-left: 57px;

}

.form-mini {
	width: 100%;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	background-color: #ffffff;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	
}

.form-mini label {
	 padding: 5px;
}

.date-arrival,
.date-departure,
.number-person {
	margin-bottom: 30px;
}

.date-arrival,
.date-departure,
.number-person {
	font: inherit;
	text-align: left;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
	vertical-align: middle;

	border: none;
	background-color: #f2f2f2;
}

.date-arrival,
.date-departure {
	width: 336px;
	padding: 5px;
	margin-left: auto;
}

.children {
	margin-right: 27px;
	margin-left: auto;
}

.grown {
	margin-right: 28px;
}

.number-person {
	width: 109px;
	padding: 5px;
}

.date-arrival:hover,
.date-departure:hover,
.number-person:hover {
	font: inherit;
	text-align: left;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
	vertical-align: middle;

	border: none;
	background-color: #ebebeb;
}

.date-arrival:focus,
.date-departure:focus,
.number-person:focus {
	font: inherit;
	text-align: left;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
	vertical-align: middle;

	border: none;
	background-color: #ffffff;
}


.search-button {
	width: 458px;
	padding-top: 13px;
	padding-bottom: 13px;
	margin-top: 25px;
	font: inherit;
	text-align: center;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	border: none;
	vertical-align: middle;
	background-color: #81b3d2;
}

.search-button:hover {
	font: inherit;
	text-align: center;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	border: none;
	vertical-align: middle;

	background-color: #669ec0;
}

.search-button:active {
	font: inherit;
	text-align: center;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: rgba(255, 255, 255, 0.3);
	text-transform: uppercase;
	border: none;
	vertical-align: middle;

	background-color: #5496bd;
}

.map {
	width: 100%;
}

.main-footer {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.hashtag {
	text-align: center;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;

	background-color: #ffffff;

	width: 33%;
}

.footer-social {
	width: 33%;
}

.footer-social-list {
	text-align: center;
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.social-button {
	display: inline-block;
	width: 46px;
	height: 48px;
	background-color: #81b3d2
}

.social-tw {
	background-image: url("../img/tw.png");
	margin-right: 5px;
}

.social-fb {
	background-image: url("../img/fb.png");
	margin-right: 5px;
}

.social-youtube {
	background-image: url("../img/youtube.png");
}

.footer-copyright {
	width: 33%;
	text-align: center;
	position: relative;
}

/*.footer-copyright a::after {
	content: "";
	display: inline-block;
	position: absolute;
	width: 115px;
	height: 41px;
	right: 40px;
	top: -10px;
	background-image: url("../img/logo-academy.svg");
	background-color: black;
	background-repeat: no-repeat;

}
*/

<!--HOTELS-->

.main-content {
	position: relative;
}

.search {
	padding-right: 6%;
	padding-left: 6%;
	background-image: url(../img/filter-background.jpg);
	background-color: #688fb6;
	background-repeat: no-repeat;
}

.search-form {
	color: #ffffff;
	display: flex;
	padding-top: 25px;
	padding-bottom: 25px;
	width: 100%;
}

.search-form fieldset {
	border: 0 none;
	margin: 0px;
	padding: 0px;
}

.search-infrastructure,
.type {
	width: 20%;
	display: flex;
	flex-direction: column;
}

.search-form fieldset.price {
	margin-left: auto;
}

.search-form legend {
	font-size: 16px;
	line-height: 21px;
	font-weight: 700;
	color: #ffffff;
}

.search-form label {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #ffffff;
}

.search-form input {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #ffffff;
}

.search-result {
	font: inherit;
	text-align: center;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #ffffff;
	text-transform: uppercase;
	border: 3px solid #ffff;
	vertical-align: middle;

	background-color: rgba(255,255,255,0.3);
}

.search-result:hover {
	font: inherit;
	text-align: center;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #000000;
	text-transform: uppercase;
	border: 3px solid #ffff;
	vertical-align: middle;

	background-color: #ffffff;
}

.sorting {
	padding-left: 6%;
	padding-right: 6%;
}

.sorting-hotels-nav {
	background-color: #ffffff;
	width: 100%;
	padding-top: 26px;
	padding-bottom: 30px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid black;
}

.search-output {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-align: left;
	color: #000000;
	width: 140px;
	margin-right: 23px;
}

.sorting-settings {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	color: #000000;
	width: 500px;
	display: flex;
	justify-content: flex-start;
}

.sorting-settings p {
	color: #000000;
}

.sorting-settings a {
	list-style: none;
	color: rgba(0, 0, 0, 0.3);
	border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
	margin-right: 34px;
}

.sorting-settings a:first-child {
	margin-left: 39px;
}

.sorting-settings a.active {
	list-style: none;
	color: #81b3d2;
}

.sorting-settings a:hover {
	list-style: none;
	color: #81b3d2;
	border-bottom: 1px dotted #81b3d2;
}

.sorting-settings a:active {
	list-style: none;
	color: #000000;
	border-bottom: 1px #000000;
}

.sorting-icons {
	width: 45px;
	margin-left: auto;
}

.hotels {

}

.hotel-card {
	display: flex;
	align-items: stretch;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid black;
}

.hotel-photo {
	margin: 0px;
	padding: 0px;
	margin-right: 30px;
	margin-bottom: -5px;
}

.hotel-description {
	width: 258px;
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.hotel-status {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
	margin-left: auto;
}

.stars {
}

.hotel-rating {
	background-color: #f2f2f2;
	width: 110px;
	text-align: center;
	vertical-align: center;
	color: #666666;
	font: 14px;
	line-height: 21px;
	font-weight: 400;
}

.hotel-text {
	display: flex;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
	margin: 0px;
	padding: 0px;
}

.hotel-text p {
	width: 110px;
	text-align: left;
	padding:0;
	margin:0;
	margin-right: 8px;
}

.hotel-name {
	margin: 0px;
	padding: 0px;
}

.hotel-name a {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-align: left;
}

.hotel-name a:hover {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #81b3d2;
	text-align: left;
}

.hotel-name a:active {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: rgba(0, 0, 0, 0.3);
	text-align: left;
}

.button-more {
	width: 110px;
	height: 27px;
	padding-right: 17px;
	padding-left: 17px;
	padding-top: 5px;
	padding-bottom: 5px;
	font: inherit;
	text-align: center;
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	border: none;
	vertical-align: middle;
	background-color: #81b3d2;

}

.button-more:hover {
	background-color: #669ec0
}

.button-more:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd
}

.button-book {
	width: 142px;
	height: 27px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 17px;
	padding-right: 17px;
	font: inherit;
	text-align: center;
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	border: none;
	vertical-align: middle;

	background-color: #766357;
}

.button-book:hover {
	background-color: #604e43;
}

.button-book:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}

.main-header {
	position: relative;
}

.main-navigation-logo {
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	line-height: 0;
	display: inline-block;
}

.main-navigation {
	padding-right: 6%;
	padding-left: 6%;
}

.items-navigation {
	display: flex;
	padding: 0;
	margin: 0;
}


.items-navigation li:nth-child(3) {
	margin-left: auto;
}

.items-navigation li:nth-child(1),
.items-navigation li:nth-child(2) {
	text-align: left;
}

.items-navigation li:nth-child(3),
.items-navigation li:nth-child(4) {
	text-align: right;
}

.items-navigation li {
	width: 20%;
	padding-top: 16px;
	padding-bottom: 18px;
}

.visually-hidden {
	display: none;
}



