body {
	margin: 0;
	padding: 0;
	max-width: 1200px;
	min-width: 768px;

	font-family: "PT Sans", "Arial", san-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	color: #333333;
	text-transform: uppercase;

	background-color: #ffffff;
}

a {
	text-decoration: none;
}

.main-navigation {
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	background-color: #ffffff;
}

.items-navigation {
	list-style: none;
}

.items-navigation a {
	color: #000000;
}

.items-navigation a:hover {
	color: #81b3d2;
}

.items-navigation a:activ {
	color: #000000;
}

.items-navigation a:focus {
	color: #766357;
}

.main-navigation-logo {
}

.banner {
	height: 513px;

	background-image: url("../img/banner-mask.png"), url("../img/background.jpg");
	background-position: 0 bottom, 0 0;
	background-repeat: no-repeat, no-repeat;
	background-size: 100%, 100%;

	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 54px;
}

.banner-text {
	size: 100%;
}

.reasons {}

.reason-title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	width: 100%;
	margin-bottom: 54px;
}

.reason-title h2 {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-align: center;
}

.reason-title p {
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	color: #333333;
}

.reason-main {
	width: 100%;
	display: flex;
	align-items: center;
}

.reason-main-info {
	text-align: center;
	background-color: #81b3d2;
	height: 258px;
	width: 33%;
	padding-top:auto;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: stretch;
}

.reason-main-info h3{
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	color: #ffffff;
	text-align: center;
	width: 100%;
	padding-left: 10%;
	padding-right: 10%;
}

.reason-main-info p {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #ffffff;
	text-align: center;
	width: 100%;
	padding-left: 5%;
	padding-right: 5%;
}

.reason-main-picture {
	width: 67%;
	margin: 0;
	padding-right: 0;
}

.reason-more {
	width: 100%;
	height: 334px;
	display: flex;
	justify-content: space-between;
}

.reason-more-housing,
.reason-more-eat,
.reason-more-souvenirs {
	text-align: center;
	background-color: #ffffff;
	width: 33%;
	padding-left: 6%;
	padding-right: 6%;
	margin-top: 167px;
}

.reason-more-housing h3,
.reason-more-eat h3,
.reason-more-souvenirs h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	color: #000000;
}

.reason-more-housing p,
.reason-more-eat p,
.reason-more-souvenirs p {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
}

.reason {
	width: 100%;
	height: 257px;
	background-color: #eeeeee;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.reason-info {
	text-align: center;
	
	width: 33%;
	padding-left: 6%;
	padding-right: 6%;
}

.reason-info h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	color: #000000;
}

.reason-info p {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
}

.search {}

.search-intro {
	text-align: center;
	background-color: #ffffff;
	width: 100%;
	height: 291px;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}

.search-title {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	text-align: center;
	color: #000000;
	width: 100%;
	padding-left: 20%;
	padding-right: 20%;
	margin-top: 54px;
}

.search-text {
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	text-align: center;
	color: #333333;
	width: 100%;
	padding-left: 30%;
	padding-right: 30%;
}

.popup-search-button {
	width: 568px;
	height: 86px;
	font: inherit;
	text-align: center;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	border: none;
	vertical-align: middle;
	background-color: #766357;

	margin-bottom: 0px;
}

.popup-search-button:hover {
	font: inherit;
	text-align: center;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	border: none;
	vertical-align: middle;

	background-color: #604e43
}

.popup-search-button:activ {
	font: inherit;
	text-align: center;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: rgba(255, 255, 255, 0.3);
	text-transform: uppercase;
	border: none;
	vertical-align: middle;

	background-color: #503e33;
}

.search-form-block {}

.search-form {
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;

	background-color: #ffffff;
}

.date-arrival {}

.date-departure {}

.number-person {}

.date-arrival input,
.date-departure input,
.number-person input 
{
	font: inherit;
	text-align: left;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
	vertical-align: middle;

	border: none;
	background-color: #f2f2f2;
}

.date-arrival input:hover,
.date-departure input:hover,
.number-person input:hover {
	font: inherit;
	text-align: left;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
	vertical-align: middle;

	border: none;
	background-color: #ebebeb;
}

.date-arrival input:focus,
.date-departure input:focus,
.number-person input:focus {
	font: inherit;
	text-align: left;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
	vertical-align: middle;

	border: none;
	background-color: #ffffff;
}


.search-button {
	font: inherit;
	text-align: center;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	border: none;
	vertical-align: middle;

	background-color: #81b3d2;
}

.search-button:hover {
	font: inherit;
	text-align: center;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	border: none;
	vertical-align: middle;

	background-color: #669ec0;
}

.search-button:activ {
	font: inherit;
	text-align: center;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: rgba(255, 255, 255, 0.3);
	text-transform: uppercase;
	border: none;
	vertical-align: middle;

	background-color: #5496bd;
}

.map {
	width: 100%;
	height: 471px;
}

.main-footer {
	width: 100%;
	height: 120px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.hashtag {
	text-align: center;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;

	background-color: #ffffff;

	width: 33%;
}

.footer-social {
	width: 33%;
}

.footer-social-list {
	text-align: center;
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-social-list li:nth-child (1),
.footer-social-list li:nth-child (2) {
	margin-right: 10px;
}

.footer-copyright {
	width: 33%;
	text-align: center;
}

<!--HOTELS-->
.search {}

.search-form {
	color: #ffffff;

	background-color: #688fb6;
	background-image: url(img/filter-background.jpg);
	background-repeat: no-repeat;
}

.search-form legend {
	font-size: 16px;
	line-height: 21px;
	font-weight: 700;
	color: #ffffff;
}

.search-form label {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #ffffff;
}

.search-form input {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #ffffff;
}

.search-result {
	font: inherit;
	text-align: center;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #ffffff;
	text-transform: uppercase;
	border: 3px solid #ffff;
	vertical-align: middle;

	background-color: rgba(255,255,255,0.3);
}

.search-result:hover {
	font: inherit;
	text-align: center;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #000000;
	text-transform: uppercase;
	border: 3px solid #ffff;
	vertical-align: middle;

	background-color: #ffffff;
}

.sorting {}

.sorting-hotels-nav {
	background-color: #ffffff;
}

.search-output {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}

.sorting-settings {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	color: #000000;
}

.sorting-settings p {
	color: #000000;
}

.sorting-settings-items a {
	list-style: none;
	color: rgba(0, 0, 0, 0.3);
	border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
}

.sorting-settings a:activ {
	list-style: none;
	color: #81b3d2;
}

.sorting-settings a:hover {
	list-style: none;
	color: #81b3d2;
	border-bottom: 1px dotted #81b3d2;
}

/*Как обозначить момент нажатия?? какой псевдокласс?*/
.sorting-settings a:focus {
	list-style: none;
	color: #000000;
	border-bottom: 1px #000000;
}

.hotel-card {}

.hotel-description {}

.hotel-name a{
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-align: left;
}

.hotel-name a:hover {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #81b3d2;
	text-align: left;
}

.hotel-name a:activ {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: rgba(0, 0, 0, 0.3);
	text-align: left;
}

.hotel-text {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
	text-align: left;
}

.button-more {
	font: inherit;
	text-align: center;
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	border: none;
	vertical-align: middle;

	background-color: #81b3d2;

}

.button-more:hover {
	background-color: #669ec0
}

.button-more:activ {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd
}

.button-book {
	font: inherit;
	text-align: center;
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	border: none;
	vertical-align: middle;

	background-color: #766357;
}

.button-book:hover {
	background-color: #604e43;
}

.button-book:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}

.main-header {
	position: relative;
}

.main-navigation-logo {
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	line-height: 0;
	display: inline-block;
}

.main-navigation {
	padding-right: 6%;
	padding-left: 6%;
}

.items-navigation {
	display: flex;
	padding: 0;
	margin: 0;
}


.items-navigation li:nth-child(3) {
	margin-left: auto;
}

.items-navigation li:nth-child(1),
.items-navigation li:nth-child(2) {
	text-align: left;
}

.items-navigation li:nth-child(3),
.items-navigation li:nth-child(4) {
	text-align: right;
}

.items-navigation li {
	width: 20%;
	padding-top: 16px;
	padding-bottom: 18px;
}





