body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans", "Arial", san-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	color: #333333;
	text-transform: uppercase;

	background-color: #ffffff;
}

a {
	text-decoration: none;
}

.main-navigation {
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	background-color: #ffffff;
}

.items-navigation {
	list-style: none;
}

.items-navigation a {
	color: #000000;
}

.main-navigation-logo {
}

.banner {
	background-position: top center;
	background-image: url("img/background.jpg");
	background-repeat: no-repeat;
}

.reasons {}

.reason-title {
	text-align: center;
}

.reason-title h2 {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}

.reason-title p {
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	color: #333333;
}

.reason-main {}

.reason-main-info {
	text-align: center;
	background-color: #81b3d2;
}

.reason-main-info h3{
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	color: #ffffff;
}

.reason-main-info p {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #ffffff;
}

.reason-main-picture {}

.reason-more {}

.reason-more-info {
	text-align: center;
	background-color: #ffffff;
}

.reason-more-info h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	color: #000000;
}

.reason-more-info p {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
}

.reason {}

.reason-info {
	text-align: center;
	background-color: #eeeeee;
}

.reason-info h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	color: #000000;
}

.reason-info p {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
}

.search {}

.search-intro {
	text-align: center;
	background-color: #ffffff;
}

.search-title {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	color: #000000;
}

.search-text {
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #333333;
}

.popup-search-button {
	font: inherit;
	text-align: center;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	border: none;
	vertical-align: middle;

	background-color: #766357;
}

.popup-search-button:hover {
	font: inherit;
	text-align: center;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	border: none;
	vertical-align: middle;

	background-color: #604e43
}

.popup-search-button:activ {
	font: inherit;
	text-align: center;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	border: none;
	vertical-align: middle;

	background-color: #503e33;
}

.search-form-block {}

.search-form {
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;

	background-color: #ffffff;
}

.date-arrival {}

.date-departure {}

.number-person {}

.date-arrival input,
.date-departure input,
.number-person input 
{
	font: inherit;
	text-align: left;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
	vertical-align: middle;

	border: none;
	background-color: #f2f2f2;
}

.date-arrival input:hover,
.date-departure input:hover,
.number-person input:hover {
	font: inherit;
	text-align: left;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
	vertical-align: middle;

	border: none;
	background-color: #ebebeb;
}

.date-arrival input:focus,
.date-departure input:focus,
.number-person input:focus {
	font: inherit;
	text-align: left;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
	vertical-align: middle;

	border: none;
	background-color: #ffffff;
}


.search-button {
	font: inherit;
	text-align: center;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	border: none;
	vertical-align: middle;

	background-color: #81b3d2;
}

.search-button:hover {
	font: inherit;
	text-align: center;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	border: none;
	vertical-align: middle;

	background-color: #669ec0;
}

.search-button:activ {
	font: inherit;
	text-align: center;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	border: none;
	vertical-align: middle;

	background-color: #5496bd;
}

.main-footer {}

.hashtag {
	text-align: center;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;

	background-color: #ffffff;
}

.footer-social {}

.footer-social-list {
	text-align: center;
	list-style: none;
}

.footer-copyright {
	text-align: center;
}









